<!-- <div class="swiper product-slider">
        <div class="swiper-wrapper">
                <div class="swiper-slide h-auto"><img class="img-fluid"
                                src="assets/images/product-detail-1.023bc49d.jpg" alt="..."></div>
                <div class="swiper-slide h-auto"><img class="img-fluid"
                                src="assets/images/product-detail-2.62056b28.jpg" alt="..."></div>
                <div class="swiper-slide h-auto"><img class="img-fluid"
                                src="assets/images/product-detail-3.4edd674c.jpg" alt="..."></div>
                <div class="swiper-slide h-auto"><img class="img-fluid"
                                src="assets/images/product-detail-4.072fd9d4.jpg" alt="..."></div>
        </div>
</div> -->
<ngx-slick-carousel *ngIf="position == 'horizontal'" class="carousel horizontal-slider" #slickModal="slick-carousel"
        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
        </div>
</ngx-slick-carousel>
<ngx-slick-carousel *ngIf="position == 'vertical'" class="carousel vertical-slider" #slickModal="slick-carousel"
        [config]="slideConfig2">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
        </div>
</ngx-slick-carousel>