<div class="swiper product-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide h-auto"><img class="img-fluid" src="assets/images/product-detail-1.023bc49d.jpg"
                alt="..."></div>
        <div class="swiper-slide h-auto"><img class="img-fluid" src="assets/images/product-detail-2.62056b28.jpg"
                alt="..."></div>
        <div class="swiper-slide h-auto"><img class="img-fluid" src="assets/images/product-detail-3.4edd674c.jpg"
                alt="..."></div>
        <div class="swiper-slide h-auto"><img class="img-fluid" src="assets/images/product-detail-4.072fd9d4.jpg"
                alt="..."></div>
    </div>
</div>